body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background: #3c6e71;*/
  background: url('../images/styx-home1.jpg') no-repeat 0 0;
  background-size: cover;
}

.login-box, .register
{
  width: 40%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #f97916;
  background: #1f2833;
  opacity: 0.9;
}

.login-box h1
{
  /*float: left;*/
  font-size: 40px;
  border-bottom: 6px solid #f97916;
  margin-bottom: 50px;
  padding: 13px 0;
}

.texts
{
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #f97916;
}

.texts input
{
  border: none;
  outline: none;
  background: none;
  color: #f15025;
  font-size: 20px;
  font-weight: bold;
  width: 60%;
  float: left;
  margin: 0 10px;
  padding: 10px;
}

.btn
{
  width: 40%;
  margin: 10px 20px;
  background: none;
  border: 2px solid #f97916;
  color: #f97916;
  padding: 10px;
  font-size: 18px;
  transition: 0.25s;
  cursor: pointer;
}

.btn:hover
{
  width: 40%;
  margin: 10px 20px;
  background: #f97916;
  border: 2px solid #f97916;
  color: black;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

#ckset
{
  padding: 20px;
  top: 10px;
  margin: 15px 10px;
}

.register
{
  display: none;
}