#goback{
	text-align: center;
	position: absolute;
	z-index: 99999;
	top: 6%;
	left: 3%;
	margin: 20px;
	padding: 10;
	font-size: 32px;
	margin-bottom: 10px;
	background: black;
	color: #e07a5f;
	border: solid black;	
}

#homer, #lgoutbye{
	color: orange;
}
