#sender{
	position: relative;
	float: left;
	left: 25%;
	margin: 0;
}

#sends, #recr{
	font-style: oblique;
	font-weight: bold;
}

#sends{
	background: #f46036;
	color: black;
	border-color: #f46036;
}

#recr{
	background: #477998;
	color: white;
}

#receiver{
	position: relative;
	float: right;
	left: 25%;
}

#progr{
	display: none;
}

body{
	background: #222;
	color: white;
	width: 99%; 
}

html{
	width: 99%;
}

/*.box_dragndrop{
	display: none;
}*/