#sender{
	position: relative;
	float: left;
	left: 25%;
	margin: 0;
}

#sends, #recr{
	font-style: oblique;
	font-weight: bold;
}

#sends{
	background: #f46036;
	color: black;
	border-color: #f46036;
}

#recr{
	background: #477998;
	color: white;
}

#receiver{
	position: relative;
	float: right;
	left: 25%;
}

#progr{
	display: none;
}

body{
	background: #222;
	color: white;
	width: 99%; 
}

html{
	width: 99%;
}
.box_file input
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*.box_dragndrop{
	display: none;
}*/